/* Imports */
@import 'global.sass'

/* Elements */
*
  margin: 0px
  padding: 0px

h1
  font-family: $header-font-family
  color: $header-font-color

h2
  font-family: 'Kaushan'
  padding-top: 30px
  padding-bottom: 10px
  color: $secondary-font-color

/** Wrapper **/
.wrapper
  margin: 0px
  padding: 0px

  font-family: $primary-font-family
  line-height: 150%
  font-weight: 400
  color: $primary-font-color


/** Left Panel **/
.left-panel
  min-width: $left-width
  height: 100%
  float: left
  display: block
  background-color: $secondary-background
  border: 0px
  border-radius: $border-radius

  /** Header **/
  .header-panel
    padding: 15px
    height: 100px
    line-height: 143%


/** Content Panel **/
.content-panel
  width: $right-width
  float: left
  height: 100%
  background-color: $primary-background


/** Search **/
.search-panel
  padding: 15px
  height: 25px
  display: inline-flex

  input
    width: 200px
    height: 25px
    border-radius: 10px
    font-family: $primary-font-family
    border: 0px solid
    padding: 10px
    background-color: $primary-background

  img
    width: 25px
    padding-left: 5px

  ::-webkit-input-placeholder
    text-align: center

  \:-moz-placeholder
    text-align: center

  ::-moz-placeholder
    text-align: center

  \:-ms-input-placeholder  
    text-align: center


