/**     Global Variables    **/
$right-width: 81%
$left-width: 100% - $right-width
$border-radius: 5px


/**      Color Scheme        **/
$primary-background: #ECE5CE
$secondary-background: #F1D4AF

$header-font-color: #E08E79
$primary-font-color: #774F38
$secondary-font-color: #C5E0DC

$header-font-family: 'Kaushan'
$primary-font-family: 'Quicksand'



/**       Font Families       **/
@font-face
  font-family: 'Kaushan'
  src: url('../fonts/KaushanScript-Regular.otf')

@font-face
  font-family: 'Quicksand'
  src: url('../fonts/Quicksand-Regular.otf')



/**      Mixins      **/
=border-radius($border-radius)
  -webkit-border-radius: $border-radius
  -moz-border-radius: $border-radius
  -ms-border-radius: $border-radius
  border-radius: $border-radius