.left-panel
  .header-panel
    %h1
      Email

    %h1
      Templater

  .search-panel
    %div
      %input{:type => 'text', :placeholder => 'Search for an email template.'}
    %div
      %img{:src => 'images/search.svg'}

.content-panel
  testing 134